* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: cursive;
  padding: 20px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.nav a {
  color: white;
  font-size: 20px;
  border-bottom: 12px;
}

.main {
  height: 100%;
  background-image: url("Travelpage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h4 {
  font-size: 30px;
  font-family: fantasy;
  margin-top: 50px;
}
/* .article {
  height: 300px;
  width: 300px;
}

.article img {
  height: 200px;
  width: 200px;
  border: 2px solid brown;
}

.article a {
  color: rgb(206, 23, 154);
  font-size: 20px;
} */
footer {
  height: 100px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: cursive;
  text-align: end;
  background-image: url("footprint.jpeg");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}

.header1 {
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: cursive;
  padding: 10px;
}

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.nav1 a {
  color: white;
  font-size: 20px;
}
.main1 {
  height: 100%;
  background-image: url("creteimage.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.main1 h4 {
  font-family: cursive;
  color: rgb(2, 61, 2);
  font-size: 25px;
}

.main1 p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.main1 h5,
h6 {
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

.article1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article1 img {
  height: 200px;
  width: 250px;
  border: 2px solid brown;
}

.main2 {
  height: 100%;
  background-image: url("andamanbck.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.main2 h4 {
  font-family: cursive;
  color: rgb(2, 61, 2);
  font-size: 25px;
}

.main2 p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 33, 65);
}
.main2 h5,
h6 {
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

.main3 {
  height: 100%;
  background-image: url("merlion.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.main3 h4 {
  font-family: cursive;
  color: rgb(2, 61, 2);
  font-size: 25px;
}

.main3 p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.main3 h5,
h6 {
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

/* Media queries for tablet */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* style sheet for index page */
    .header {
        height: 200px;
        font-size: 80px;
      }
      .nav {
        gap: 20px;
      }
      
      .nav a {
        color: white;
        font-size: 30px;
      }

      .main h4 {
        font-size: 60px;
      }
      footer {
        background-size: 350px;
        background-position: center;
        font-size: 30px;
      }
      /* style for cretepage */
      .header1 {
        height: 200px;
        font-size: 80px;
        padding: 20px;
      }
      .main1 {
        height: 100%;
      }
      .nav1 {
        gap: 20px;
      }
      
      .nav1 a {
        font-size: 30px;
      }

      .main1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .main1 h4 {
        font-size: 45px;
      }
    
      .main1 p {
        font-size: 27px;
        font-weight: bold;
      }
      .main1 h5,
      h6 {
        font-size: 35px;
        
      }  
      .article1 img {
        height: 250px;
        width: 550px;
      }
        /* style for andamanpage */
        .main2 {
            padding: 20px;
          }
          .main2 h4 {
            font-size: 45px;
          }
          
          .main2 p {
            font-size: 27px;
            color: brown;
            font-weight: bold;
          }
          .main2 h5,
          h6 {
            font-size: 35px;
          }
          /* style for singaporepage */
                  .main3 {
            padding: 20px;
          }
          .main3 h4 {
            font-size: 45px;
          }
          
          .main3 p {
            font-size: 27px;
            color: white;
            font-weight: bold;
          }
          .main3 h5,
          h6 {
            font-size: 35px;
          }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 /* style sheet for index page */
 .header {
    height: 250px;
    font-size: 100px;
  }
  .nav {
   justify-content: space-evenly;
  }
  
  .nav a {
    color: white;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
  }

  .nav a:hover{
    opacity: 0.5s;
    color: crimson;
  }

  .main h4 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
  }
  footer {
    background-size: 250px 100px;
    background-position: center;
    font-size: 30px;
    text-align: end;
    padding: 20px;
  }
  /* style for cretepage */
  .header1 {
    height: 200px;
    font-size: 80px;
    padding: 20px;
  }
  .main1 {
    display: flex;
    text-align: justify;
  }
  .nav1 {
    justify-content: space-evenly;
  }

  .nav1 a {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .main1 h4 {
    font-size: 45px;
  }
  .main1 p {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
  }
  .main1 h5,h6 {
    font-size: 25px;
  }  
  .article1 img {
    height: 700px;
    width: 500px;   
  }
    /* style for andamanpage */
    .main2 {
        display: flex;
        flex-direction: row;
        text-align: justify;
      }
      .main2 h4 {
        font-size: 45px;
      }
      
      .main2 p {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
      }
      .main2 h5,
      h6 {
        font-size: 25px;
      }
      /* style for singaporepage */
      .main3 {
        display: flex;
        flex-direction: row;
        text-align: justify;
      }
      .main3 h4 {
        font-size: 45px;
      }
      
      .main3 p {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        color: white;
      }
      .main3 h5,
      h6 {
        font-size: 25px;
      }

}



